<div class="container">
    <div class="table-wrapper">
        <div class="table-tittle d-flex">
            <div>
                <h2>Configurar Semana</h2>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Proyecto</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Proyecto A</td>
                        <td><input type="text" class="form-control" placeholder="Porcentaje"></td>
                        <td><input type="text" class="form-control" placeholder="Porcentaje"></td>
                        <td><input type="text" class="form-control" placeholder="Porcentaje"></td>
                        <td><input type="text" class="form-control" placeholder="Porcentaje"></td>
                        <td><input type="text" class="form-control" placeholder="Porcentaje"></td>
                    </tr>
                    <tr>
                        <td>Proyecto B</td>
                        <td><input type="text" class="form-control" placeholder="Porcentaje"></td>
                        <td><input type="text" class="form-control" placeholder="Porcentaje"></td>
                        <td><input type="text" class="form-control" placeholder="Porcentaje"></td>
                        <td><input type="text" class="form-control" placeholder="Porcentaje"></td>
                        <td><input type="text" class="form-control" placeholder="Porcentaje"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>