body{
    background: #eee;
}

#side_nav{
    background-color: #14213d;
    min-width: 250px;
    max-width: 250px;    
}

hr.h-color{
    border-color: #ffffff;
}

.sidebar li.active{
    background: #fca311;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover, .sidebar li.active button, .sidebar li.active a:hover{
    color: #14213d;
}

.sidebar li a, .sidebar li button{
    color: #ffffff;    
    cursor: pointer;
}

.collapsible {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.collapsible li {
    display: block;
}

.collapsible li.visible {
    display: block;
} 

.collapsible li:not(.visible) {
    display: none;
}

