<div class="sidebar vh-100" id="side_nav">
    <div class="header-box px-2 pt-3 pb-4">
        <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">Time</span><span class="text-white">Organizator</span></h1>
        <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="fa-solid fa-bars-staggered"></i></button>
    </div>
    <ul class="list-unstyled px-2">
        <li routerLink="/dashboard" [ngClass]="{'active': isActive(1)}" (click)="setActive(1)"><a class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-house"></i> Dashboard</a></li>
        <li routerLink="/proyectos" [ngClass]="{'active': isActive(2)}" (click)="setActive(2)"><a class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-list-ul"></i> Proyectos</a></li>
        <li routerLink="/reportes" [ngClass]="{'active': isActive(3)}" (click)="setActive(3)"><a class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-chart-simple"></i> Reportes</a></li>                        
    </ul>   
    <hr class="h-color mx-2">
    <ul class="list-unstyled px-2">
        <li [ngClass]="{'active': isActive(4)}" (click)="setActive(4)"><button class="navbar-toggler text-decoration-none px-3 py-2 d-block" (click)="toggleParametrizaciones()" type="button"><i class="fa-solid fa-sliders"></i> Parametrización</button></li>        
    </ul>

    <ul class="list-unstyled px-2 collapsible">
        <li [ngClass]="{'visible': isCollapsed, 'active': isActive(5)}" (click)="setActive(5)">
            <a routerLink="/tiposProyectos" class="text-decoration-none px-4 py-2 d-block"><i class="fas fa-project-diagram"></i> Tipos de Proyectos</a>
        </li>
        <li [ngClass]="{'visible': isCollapsed, 'active': isActive(6)}" (click)="setActive(6)">
            <a routerLink="/diassemana" class="text-decoration-none px-4 py-2 d-block"><i class="fas fa-tasks-alt"></i> Días Semana</a>
        </li>
        <li [ngClass]="{'visible': isCollapsed, 'active': isActive(7)}" (click)="setActive(7)">
            <a routerLink="/tiposTiempo" class="text-decoration-none px-4 py-2 d-block"><i class="fas fa-clock"></i> Tipos de Tiempo</a>
        </li>
    </ul>

    
    
</div>
