body{
    font-family: 'roboto';
    background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1), 50%);
}

.inner-row{
    height: 100vh;
}

.primaryBg{
    background: #fca311;
}

.primaryColor{
    color: #fca311;
}

.form-box{
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}